body {
   background-color:#FBF3D5;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #B47B84;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

#chat-container {
    max-width: 500px;
    margin: 0 auto;
}

#chat-box {
    height: 300px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

#user-input {
    width: calc(100% - 80px);
    padding: 10px;
    margin-right: 10px;
}

#send-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left:200px;
}
